https://app.flourish.studio/visualisation/1571387/edit

In [3]:
# storing and analysing data
import pandas as pd

In [4]:
# read data
df = pd.read_csv('covid_19_clean_complete.csv')

# group by Date and Country
df = df.groupby(['Date', 'Country/Region'])['Confirmed'].sum().reset_index()

# fix datetime format
df['Date'] = pd.to_datetime(df['Date'])

# sort dataframe by 'Date'
df = df.sort_values('Date')

# pivot by making 'Country' as index and 'Date' as columns
df = df.pivot(index='Country/Region', columns='Date', values='Confirmed').reset_index()

# first few rows
df.head()

Date,Country/Region,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2020-06-05 00:00:00,2020-06-06 00:00:00,2020-06-07 00:00:00,2020-06-08 00:00:00,2020-06-09 00:00:00,2020-06-10 00:00:00,2020-06-11 00:00:00,2020-06-12 00:00:00,2020-06-13 00:00:00,2020-06-14 00:00:00
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,18969,19551,20342,20917,21459,22142,22890,23546,24102,24766
1,Albania,0,0,0,0,0,0,0,0,0,...,1212,1232,1246,1263,1299,1341,1385,1416,1464,1521
2,Algeria,0,0,0,0,0,0,0,0,0,...,9935,10050,10154,10265,10382,10484,10589,10698,10810,10919
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,852,853,853,853
4,Angola,0,0,0,0,0,0,0,0,0,...,86,88,91,92,96,113,118,130,138,140

In [5]:
# save as .csv file
df.to_csv('flurish_data.csv')