In [1]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup

import re

import numpy as np

In [2]:
# get data
# ========

# link at which web data recides
link = 'https://www.worldometers.info/coronavirus/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[0]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [4]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [5]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
# df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,,\nNorth America\n,"2,151,938","+4,383","129,963","+1,126","840,785","+3,134","1,181,190","19,313",,,,,,North America,\n,,
1,,\nSouth America\n,"986,953","+1,229","44,319",+45,"470,798","+4,784","471,836","11,404",,,,,,South America,\n,,
2,,\nEurope\n,"2,028,857",+616,"176,460",+14,"1,029,072","+1,218","823,325","8,542",,,,,,Europe,\n,,
3,,\nAsia\n,"1,232,873","+6,243","32,552",+87,"749,867","+1,359","450,454","14,501",,,,,,Asia,\n,,
4,,\nAfrica\n,"164,985",,"4,627",,"72,380",,"87,978",435,,,,,,Africa,\n,,
5,,\nOceania\n,"8,850",+11,124,,"8,230",+8,496,4,,,,,,Australia/Oceania,\n,,
6,,\n\n,721,,15,,651,,55,4,,,,,,,\n,,
7,,World,"6,575,177","+12,482","388,060","+1,272","3,171,783","+10,503","3,015,334","54,203",844,49.8,,,,All,\n,,
8,1,USA,"1,901,783",,"109,142",,"688,670",,"1,103,971","16,939","5,748",330,"19,096,671","57,718","330,859,357",North America,174,"3,031",17
9,2,Brazil,"584,562",+582,"32,568",+21,"266,132",,"285,862","8,318","2,752",153,"930,013","4,378","212,446,884",South America,363,"6,523",228

In [6]:
df_bs.tail()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
212,205,Seychelles,11,,,,11,,0,,112,,,,"98,302",Africa,"8,937",,
213,206,MS Zaandam,9,,2,,,,7,,,,,,,,,,
214,207,Western Sahara,9,,1,,6,,2,,15,2,,,"596,106",Africa,"66,234","596,106",
215,208,British Virgin Islands,8,,1,,7,,0,,265,33,167,"5,527","30,216",North America,"3,777","30,216",181
216,209,Papua New Guinea,8,,,,8,,0,,0.9,,"4,646",520,"8,933,327",Australia/Oceania,"1,116,666",,"1,923"

In [7]:
df_bs = df_bs.loc[8:].reset_index(drop=True)
df_bs = df_bs.drop('#', axis=1)
df_bs.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,USA,"1,901,783",,"109,142",,"688,670",,"1,103,971","16,939","5,748",330,"19,096,671","57,718","330,859,357",North America,174,"3,031",17
1,Brazil,"584,562",+582,"32,568",+21,"266,132",,"285,862","8,318","2,752",153,"930,013","4,378","212,446,884",South America,363,"6,523",228
2,Russia,"432,277",,"5,215",,"195,957",,"231,105","2,300","2,962",36,"11,426,045","78,298","145,930,019",Europe,338,"27,983",13
3,Spain,"287,406",,"27,128",,N/A,N/A,N/A,617,"6,147",580,"4,063,843","86,921","46,753,492",Europe,163,"1,723",12
4,UK,"279,856",,"39,728",,N/A,N/A,N/A,"1,559","4,124",585,"4,786,219","70,531","67,859,798",Europe,242,"1,708",14

In [8]:
df_bs = df_bs.iloc[:, :-3]

In [9]:
df_bs.columns

Index(['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'TotÂ Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop\n',
       'Population', 'Continent'],
      dtype='object')

In [10]:
df_bs.columns = ['Country/Region', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop',
       'Population', 'Continent']

df_bs = df_bs[['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop' ]]

df_bs.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
0,USA,North America,"330,859,357","1,901,783",,"109,142",,"688,670",,"1,103,971","16,939","5,748",330,"19,096,671","57,718"
1,Brazil,South America,"212,446,884","584,562",+582,"32,568",+21,"266,132",,"285,862","8,318","2,752",153,"930,013","4,378"
2,Russia,Europe,"145,930,019","432,277",,"5,215",,"195,957",,"231,105","2,300","2,962",36,"11,426,045","78,298"
3,Spain,Europe,"46,753,492","287,406",,"27,128",,N/A,N/A,N/A,617,"6,147",580,"4,063,843","86,921"
4,UK,Europe,"67,859,798","279,856",,"39,728",,N/A,N/A,N/A,"1,559","4,124",585,"4,786,219","70,531"

In [11]:
df_bs.columns[2:]

Index(['Population', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop'],
      dtype='object')

In [12]:
for col in df_bs.columns[2:]:
    df_bs[col] = df_bs[col].str.replace('[,+ ]', '', regex=True)
    df_bs[col] = df_bs[col].str.replace('N/A', '', regex=False)
 

df_bs.replace('', np.nan)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
0,USA,North America,330859357,1901783,NaN,109142,NaN,688670,NaN,1103971,16939,5748,330,19096671,57718
1,Brazil,South America,212446884,584562,582,32568,21,266132,NaN,285862,8318,2752,153,930013,4378
2,Russia,Europe,145930019,432277,NaN,5215,NaN,195957,NaN,231105,2300,2962,36,11426045,78298
3,Spain,Europe,46753492,287406,NaN,27128,NaN,NaN,NaN,NaN,617,6147,580,4063843,86921
4,UK,Europe,67859798,279856,NaN,39728,NaN,NaN,NaN,NaN,1559,4124,585,4786219,70531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Seychelles,Africa,98302,11,NaN,NaN,NaN,11,NaN,0,NaN,112,NaN,NaN,NaN
205,MS Zaandam,NaN,NaN,9,NaN,2,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN
206,Western Sahara,Africa,596106,9,NaN,1,NaN,6,NaN,2,NaN,15,2,NaN,NaN
207,British Virgin Islands,North America,30216,8,NaN,1,NaN,7,NaN,0,NaN,265,33,167,5527
208,Papua New Guinea,Australia/Oceania,8933327,8,NaN,NaN,NaN,8,NaN,0,NaN,0.9,NaN,4646,520

In [13]:
df_bs.to_csv('worldometer_data.csv', index=False)